#resultCard
{
  padding-left: 0px;
  padding-right: 0px;
}

#resultsCardHeader
{
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

#resultsCardTitle
{
  margin-bottom: 0 !important;
}
