<mat-card>
  <h1 style="margin-bottom:18px;">Despre chestionarul ABCD-M</h1>
  <div>
    Cititi cu atentie afirmatiile cuprinse in acest chestionar si evaluati in ce masura aspectul respectiv vi se potriveste.
    Pentru a va da posibilitatea unei evaluari cat mai apropiate cu felul dumneavoastra obisnuit de a va comporta, a reactiona,
    a gandi aveti la dispozitie cinci posibile forme de a va exprima acordul sau dezacordul: <strong>Total dezacord</strong>,
    <strong>Dezacord partial</strong>, <strong>Neutru</strong>, <strong>Partial de acord</strong> si <strong>Total de acord</strong>.
  </div>
  <p>
    In niciun caz nu se poate accepta situatia in care sa raspundeti numai cu Neutru, care ar semnifica o totala incapacitate de
    autoevaluare. Nu exista raspunsuri corecte sau gresite pentru ca nu este un test de inteligenta si nu este nevoie sa fii
    expert pentru a completa acest chestionar.
  </p>
  <p>
    Descrieti-va cat mai realist exprimand clar masura in care vi se potriveste
    respectiva afirmatie. Acest chestionar contine 150 de afrimatii. Va rugam sa le cititi pe rand pe fiecare, cu atentie si
    sa alegeti raspunsul corespunzator nivelului de potrivire cu felul dumneavoastra de a fi.
  </p>
</mat-card>
<br>
<button mat-raised-button class="customBtn" routerLink="/test">Incepe testul</button>
