<div *ngFor= "let question of loadedQuestions; let i = index;">
  <mat-card class="questionCard">
    <mat-card-header>
      <mat-card-title alt="E4">{{i+1}}.{{question}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="centeredCardContent">
      <mat-radio-group name="{{i}}">
        <mat-radio-button value="0">Total dezacord</mat-radio-button>
        <mat-radio-button value="1">Dezacord partial</mat-radio-button>
        <mat-radio-button value="2">Neutru</mat-radio-button>
        <mat-radio-button value="3">Partial de acord</mat-radio-button>
        <mat-radio-button value="4">Total de acord</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>

<button (click)="ComputeResults()" [disabled]="areQuestionsNotLoaded" mat-raised-button class="customBtn" routerLink="/results">Finalizeaza testul</button>

<div infiniteScroll [infiniteScrollDistance]="scrollFactor" [infiniteScrollThrottle]="200" (scrolled)="LoadQuestions()"></div>
